* {
  padding: 0;
  margin: 0;
}
.heading {
  color: #ffffff;
  font-size: 2rem;
  background-color: purple;
  text-align: center;
  padding: 1rem;
}
.card {
  background-color: #e6c32af6;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  max-width: 300px;
}
.cardTitle {
  margin-bottom: 10px;
}
.cardDesc {
  text-align: justify;
  margin-bottom: 10px;
}
.cardFooter {
  font-weight: 600;
  font-size: 1.3rem;
}
